<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "/css/registrostyle.css" %}">
    <link rel="stylesheet" href="{% static "css/flexboxgrid.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>Pagina Administrador Perris</title>
</head>
<body>
    
    <form method="POST" class="form-signin" id="logForm" action="{% url "creara" %}">
        {% csrf_token %}
          <div class="form-label-group">
              <input type="email" id="correo" class="form-control" placeholder="Correo"  required name = "correo">
              <label id="textmail" class="Textos" for="correo">Correo</label>
            </div>

        <div class="form-label-group">
          <input type="text" id="rut" class="form-control" placeholder="Rut"  required name = "rut">
          <label id="textrut" for="rut">Rut</label>
        </div>

        <div class="form-label-group">
          <input type="text" class="form-control" required name="nombre" placeholder="Nombre" id="nombreCompleto">
          <label id="textname" for="nombreCompleto">Nombre</label>
        </div>

        <div class="form-label-group">
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="contrasenia">
          <label id="textpsw" for="inputPassword">Contraseña</label>
        </div>
        

        <label id="error text-uppercase" class="label-text" ></label>
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>



    <script src="{% static "/js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "/js/popper.js" %}"></script>
    <script src="{% static "/js/bootstrap.js" %}"></script>
    <script src="{% static "/js/jquery.validate.js" %}"></script>
    <script src="{% static "/js/app.js" %}"></script>
</body>
</html>