<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
   
    <!--Hojas de estilos-->
    <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/flexboxgrid.css" %}">
    <title>Adopción</title>
</head>
<body>
        {% load static %}
    <!--Header-->
    <div class="container-fluid header">
            <header class="row" >

                <div class="col-xs-12  col-md-4">
                    <img class="imgLogo" src="../static/img/logo.png" alt="logo">
                </div>


                <div class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a  href="{% url "index" %}" class="enlacesHeader"  >Inicio</a>
                    </div>
                    
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a  href="#" class="enlacesHeader" >Quienes somos</a>
                    </div>
        
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a  href="#" class="enlacesHeader" >Servicios</a>
                    </div>
                                        
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a  href="#" class="enlacesHeader" >Contáctanos</a>
                    </div>
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a href="{% url "adopcion" %}" class="enlacesHeader" >Adopción</a>
                    </div>    
<br>
<br>



                    </div>
            </header>
    </div>
<!--Fin Header--> 
<br>
<br>
<!--Registro de perros al sistema-->

{% if user.is_authenticated %}
<form method="POST" class="form-signin" enctype="multipart/form-data"   id="logForm" action="{% url 'nuevadopcion' %}">
    {% csrf_token %}
    <div class="container-fluid">
           
        <div class="row">

            <div class="col-md-6">

                    <div class="form-label-group">
                            <label id="" class="Textos" for="nombre">Nombre</label>
                            <input type="text" id="nombre" class="form-control" placeholder="nombre"  required name = "nombre">        
                    </div>
                  
                    <div class="form-label-group">
                        <label id="textrut" for="raza">Raza predominante</label>
                        <input type="text" id="raza" class="form-control" placeholder="raza"  required name = "raza">
                    </div>
            </div>

            <div class="col-md-6">
                    <div class="form-label-group">
                            <label id="descripcion" for="estado">Estado</label>
                            <select id="text"  class="form-control"  required name = "estado">
                                <option value="Sin Estado">Estado</option>
                                <option value="Rescatado">Rescatado</option>
                                <option value="Disponible">Disponible</option>
                                <option value="Adoptado">Adoptado</option>
                             
                            </select>
                    
                        </div>
                    
                        <div class="form-label-group">
                                <label id="descripcion" for="Descripcion">Foto</label>
                                <input type="file" class="form-control" name="foto" id="foto" placeholder="Adicional">
                                
                        </div>

            </div>

            <div class="col-md-12">
                <div class="form-label-group">
                    <label id="descripcion" for="Descripcion">Descripcion</label>
                    <textarea type="text" class="form-control" required name="descripcion" placeholder="descripcion" id="descripcion" rows="3"></textarea>
                            
                </div>
            </div>

        </div>

    </div>
    
    <div class="col-md-12"></div>
    <div class="col-md-12">
     <label id="error text-uppercase" class="label-text" ></label>
     <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Agregar</button>
    </div>
     
    {% endif %}
  </form>
    


  <hr>
 
    <!--Apartado de perretes rescatados -->


    <div class="container-fluid carta">
            <div class="row">
                {%for p in Perros%}
                    <div class="col-md-2">
                        
                        <div class="card">
                            <img class="card-img-top" src="/media/{{p.foto}}"   width="100"  alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">{{p.nombre}}</h5>
                                <p class="card-text">Raza: {{p.raza}}</p>
                                <p class="card-text">Descripcion: {{p.descr}}</p>
                                <p class="card-text"><small class="text-muted">{{p.estado}}</small></p>
                                {% if user.is_authenticated %}
                                <a class="btn btn-lg btn-primary btn-block text-uppercase" href="editor/seleccion/{{p.id}}" role="button">Editar</a>
                                <a class="btn btn-lg btn-danger btn-block text-uppercase" href="adopcion/eliminar/{{p.id}}" role="button">Borrar</a>
                                {% endif %}
                                </div>
                        </div>
        
                    </div>
                {% endfor %}  
            </div>
        </div>





 <!--Apartado de perretes rescatados 
        
    <div class="container">
            <h2>Perros</h2>
            <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Raza</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Estado</th>
                      <th scope="col">foto</th>
                      {% if user.is_authenticated %}
                      <th>Acciones</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                      {% for p in Perros %}
                          <tr>
                              <th scope="row">{{p.id}}</th>
                              <td>{{p.nombre}}</td>
                              <td>{{p.raza}}</td>
                              <td>{{p.descr}}</td>
                              <td>{{p.estado}}</td>
                              {% if user.is_authenticated %}
                              <td><img src="/media/{{p.foto}}" alt="no foto" height="50" srcset=""></td>
                              <td> <a href="adopcion/eliminar/{{p.id}}">Borrar</a>
                                  <a href="#" onclick="editar('{{p.nombre}}','{{p.raza}}','{{p.descr}}','{{p.estado}}','{{p.foto}}',{{p.id}})" > Editar</a> </td>
                              {% endif %}
                          </tr>
                      {% endfor %}                  
                  </tbody>
                </table>
        </div>-->
     
<script src="{% static "/js/jquery-3.3.1.js" %}"></script>
<script src="{% static "/js/popper.js" %}"></script>
<script src="{% static "/js/bootstrap.js" %}"></script>
<script src="{% static "/js/jquery.validate.js" %}"></script>
<script src="{% static "/js/app.js" %}"></script>
   
</body>
</html>