<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
   
    <!--Hojas de estilos-->
    <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/flexboxgrid.css" %}">
    <title>Adopción</title>
</head>
<body>
    <!--Header-->
    <div class="container-fluid header">
            <header class="row" >

                <div class="col-xs-12  col-md-4">
                    <img class="imgLogo" src={% static "/img/logo.png" %}" alt="logo">
                </div>

                <div class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a  href="{% url "index" %}" class="enlacesHeader"  >Inicio</a>
                    </div>
                    
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a  href="#" class="enlacesHeader" >Quienes somos</a>
                    </div>
        
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a  href="#" class="enlacesHeader" >Servicios</a>
                    </div>
                                        
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a  href="#" class="enlacesHeader" >Contáctanos</a>
                    </div>
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a href="{% url "adopcion" %}" class="enlacesHeader" >Adopción</a>
                    </div>    
<br>
<br>



                    </div>
            </header>
    </div>
<!--Fin Header--> 
<br>
<br>
<!--Registro de perros al sistema-->

<form method="POST" enctype="multipart/form-data" action="/editor/modificacion/{{perro.id}}">
    {% csrf_token %}
 
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6">

                    <div class="form-label-group">
                            <label id="" class="Textos" for="nombre">Nombre</label>
                            <input type="text" id="nombre" class="form-control" value="{{perro.nombre}}"  placeholder="nombre" required name = "nombre">        
                    </div>
                  
                    <div class="form-label-group">
                        <label id="textrut" for="raza">Raza predominante</label>
                        <input type="text" id="raza" class="form-control" placeholder="raza" value="{{perro.raza}}" required name = "raza">
                    </div>
            </div>

            <div class="col-md-6">
                    <div class="form-label-group">
                            
                            <label id="descripcion" for="estado">Estado {{perro.estado}}</label>
                            <select id="text"  class="form-control"  required name = "estado">
                                <option value="Sin Estado">Selecciona nuevo estado</option>
                                <option value="Rescatado">Rescatado</option>
                                <option value="Disponible">Disponible</option>
                                <option value="Adoptado">Adoptado</option>
                             
                            </select>
                    
                        </div>
                    
                        <div class="form-label-group">
                                <label id="descripcion" for="Descripcion">Foto</label>
                                <img src="/media/{{perro.foto}}" alt="no foto" height="50" srcset="">
                                <input type="file" class="form-control" name="foto" id="foto" placeholder="Adicional">
                                
                        </div>

            </div>

            <div class="col-md-12">
                <div class="form-label-group">
                    <label id="descripcion" for="Descripcion">Descripcion</label>
                    <input type="text" class="form-control" required name="descripcion" value="{{perro.descr}}"  placeholder="descripcion" id="descripcion">
                            
                </div>
            </div>

        </div>

    </div>
    
    <div class="col-md-12"></div>
    <div class="col-md-12">
     <label id="error text-uppercase" class="label-text" ></label>
     <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Modificar</button>
    </div>
     

  </form>

     
<script src="{% static "/js/jquery-3.3.1.js" %}"></script>
<script src="{% static "/js/popper.js" %}"></script>
<script src="{% static "/js/bootstrap.js" %}"></script>
<script src="{% static "/js/jquery.validate.js" %}"></script>
<script src="{% static "/js/app.js" %}"></script>
   
</body>
</html>