<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <!--Hojas de estilos-->
    <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/flexboxgrid.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>Mis Perris </title>
</head>
<body id="BodyPage" onresize="ColorMenu()" onload="ColorMenu()">

    <!--Header-->
        <div class="container-fluid header">
                <header class="row" >

                    <div class="col-xs-12  col-md-4">
                        <img class="imgLogo" src="../static/img/logo.png" alt="logo">
                    </div>


                                <div class="col-xs-12 col-md-1 enlacesHeader colormenu">
                                    <a  href="{% url "index" %}" class="enlacesHeader"  >Inicio</a>
                                </div>
                                
                                <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                                    <a  href="#" class="enlacesHeader" >Quienes somos</a>
                                </div>
                    
                                <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                                    <a  href="#" class="enlacesHeader" >Servicios</a>
                                </div>
                                                    
                                <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                                    <a  href="#" class="enlacesHeader" >Contáctanos</a>
                                </div>
                                {% if request.user.is_staff %}
                                <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                                    <a href="{% url "adopcion" %}" class="enlacesHeader" >Adopción</a>
                                </div>
                                {% endif %}
                    {% if user.is_authenticated %}
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                        <a  href="#" class="enlacesHeader" >Bienvenido {{usuario.first_name}} {{usuario.last_name}}</a>
                    </div>
                    
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                            <a href="{% url "cerrarSession" %}" class="enlacesHeader">Cerrar Session</a>
                    </div>
                   
                    {% endif %}
                    {% if user.is_authenticated %}

                    {% else %}
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                            <a href="{% url "login" %}" class="enlacesHeader">Iniciar sesión</a>
                    </div>
                    <div  class="col-xs-12 col-md-1 enlacesHeader colormenu">
                            <a href="{% url "registro" %}" class="enlacesHeader">Registrarse</a>
                    </div>
                    
                    
                    {% endif %}



    <!--Formulario -->
    <br>
    <br>



                        </div>
                </header>
        </div>
    <!--Fin Header-->   






<!-- Carrusel para las mascotas -->




<div id="carouselExampleIndicators" class="carousel slide egColor" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active ">
            <img class="d-block w-100 max-image" src="../static/img/adoptados/Apolo.jpg" alt="Foto">
            <div class="carousel-caption d-none d-md-block">
                <h5>Chocolo</h5>
                <p>Rescatado el 6 de abril</p>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 max-image" src="../static/img/adoptados/Duque.jpg" alt="Foto">
            <div class="carousel-caption d-none d-md-block">
                <h5>Mandibula</h5>
                <p>Rescatado el 15 de julio</p>
              </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 max-image" src="../static/img/adoptados/Tom.jpg" alt="Foto">
            <div class="carousel-caption d-none d-md-block">
                <h5>Wachimingo</h5>
                <p>Rescatado el 24 de enero</p>
              </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>




<!-- Carrusel -->




<!-- botones -->
    <div class="container-fluid segColor">
          <div class="row">
             <div class="col-xs-12 col-md-4">
                    <b> <p>+ 56 9 98765431</p> </b>
                </div>
                <div class="col-xs-12 col-md-4 textRescate">
                    <b> <p>Rescate y adopción de perros callejeros</p> </b>
                </div>
                <div class="col-xs-12 col-md-4">
                    <a href="#"> <i class="fab c fa-facebook fa-2x" ></i></a>
                    <a href="#"> <i class="fab c fab fa-google-plus fa-2x"></i></a>
                    <a href="#"> <i class="fab c fa-instagram fa-2x"></i></a>
                    <a href="#"> <i class="far c fa-envelope fa-2x"></i></i></a>               
             </div>
        </div>
    </div>

    

<!-- Crowfounding -->


<div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6">

                <br>
                <br>
                
                    <h1>Rescate</h1>
                
                <h4>Etapa 1</h4>
                <hr/>
                <br>
                <p>Rescatamos perros en situación de peligro y/o abandono.
                 Los rehabilitamos y los preparamos para buscarles un hogar</p>
                 <br>
                <img class="imgCrowfunding" src="../static/img/rescate.jpg" alt="perro">

            </div>

            <div class="col-xs-12 col-md-6">
                <br>
                <br>
                <img class="imgCrowfunding" src="../static/img/crowfunding.jpg" alt="comida" >
                <h1>Crowfunding</h1>
                <h4>Financiamiento</h4>
                <hr>
                <br>
                <p>Sigue nuestras redes sociales para informate acerca de las diversas campañas y
                    actividades que realizamos para obtener financiamiento para seguir ayudando.
                </p>
            </div>
        </div>

    </div>
<br>
<br>

    
    
  

    <!--cards-->
    
    <div class="container-fluid header">
        <br>
        <div class="row">
            {%for p in Perros%}
            
                <div class="col-md-2">
                    
                    <div class="card">
                        <img class="card-img-top" src="/media/{{p.foto}}"  alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">{{p.nombre}}</h5>
                            <p class="card-text">Raza: {{p.raza}}</p>
                            <p class="card-text">Descripcion: {{p.descr}}</p>
                            <p class="card-text"><small class="text-muted">{{p.estado}}</small></p>
                            </div>
                    </div>
                    <br>

                </div>
            {% endfor %}  
        </div>
    </div>


    

     <!--Footer-->
    <br>
    <br>
    <br>

    <div class="container-fluid footer">
        <footer class="row">
            <div class="col-xs-4 col-md-4">
                Desarrollo web y escritorio
            </div>

            <div class="col-xs-4 col-md-4">
                Integrantes: <br>
                - Cesar Astorga <br>
                - Ricardo Rojas <br>

            </div>

            <div class="col-xs-4 col-md-4">
                Sección <br>
                - DWY4101-001 <br>
            </div>
        </footer>
    </div>
    






    <script src="{% static "/js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "/js/popper.js" %}"></script>
    <script src="{% static "/js/bootstrap.js" %}"></script>
    <script src="{% static "/js/jquery.validate.js" %}"></script>
    <script src="{% static "/js/app.js" %}"></script>
   
</body>
</html>