<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <!--Hojas de estilos-->
    <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "/css/loginstyle.css" %}">
    <link rel="stylesheet" href="{% static "css/flexboxgrid.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>Nueva Contraseña</title>
</head>
<body>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <img class="imgLogo" src="../static/img/logoOscuro.png" alt="logo">
                    <h2>{{Persona.correo}}</h2>
                  
                  <form method="POST" class="form-signin" id="" action="/nuevapass/{{Persona.id}}">
                    {% csrf_token %}
                        <div class="form-label-group">
                            
                                <input type="password" id="passwrd" class="form-control" placeholder="Password" required name="contrasenia">
                                <label id="textpsw" for="passwrd">Contraseña</label>
                              </div>
                              
                              <div class="form-label-group">
                                <input type="password" id="repswd" class="form-control" placeholder="Password" required name="contrasenia">
                                <label id="repasstext" for="inputConfirmPassword">Confirmar Contraseña</label>
                              </div>

                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Cambiar contraseña</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
 







    



    <script src="{% static "/js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "/js/popper.js" %}"></script>
    <script src="{% static "/js/bootstrap.js" %}"></script>
    <script src="{% static "/js/jquery.validate.js" %}"></script>
    <script src="{% static "/js/app.js" %}"></script>
</body>
</html>