<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    {% load socialaccount %}
    <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "/css/registrostyle.css" %}">
    <link rel="stylesheet" href="{% static "css/flexboxgrid.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>Registro</title>
</head>
<body>

    <!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                   <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                  <img class="imgLogo" src="../static/img/logoOscuro.png" alt="logo">
                  <form method="POST" class="form-signin" id="regForm" action="{% url "crear" %}">
                    {% csrf_token %}
                      <div class="form-label-group">
                          <input type="email" id="correo" class="form-control" placeholder="Correo"  required name = "correo">
                          <label id="textmail" class="Textos" for="correo">Correo</label>
                        </div>

                        <div class="form-label-group">
                          <input type="text" class="form-control" required name="nombre" placeholder="Nombre" id="nombreCompleto">
                          <label id="textname" for="nombreCompleto">Nombre</label>
                        </div>

                    <div class="form-label-group">
                      <input type="text" id="rut" class="form-control" placeholder="Rut"  required name ="rut">
                      <label id="textrut" for="rut">Rut</label>
                    </div>
      
                    <div class="form-label-group">
                      <input type="date" class="form-control" id="fechaNa" placeholder="Fecha de nacimiento"  required name= "fechaN" max="2000-12-30">
                      <label id="textdate" for="fechaNa">Fecha de nacimiento</label>
                      <span class="validity"></span>
                  </div>

                    <div class="form-label-group">
                      <input type="text" class="form-control" required name="numeroC" pattern="\d+" placeholder="Numero Telefonico" id="numeroContacto">
                      <label id="textnum" for="numeroContacto">Numero</label>
                    </div>     

                          
                    <div class="form-label-group">
                        <select id="opcionesCasas"  class="form-control" name="opcionesCasas"  required name = "tipoV">
                            <option value="selected">Tipo de vivienda</option>
                            <option value="OP_CG">Casa con patio grande</option>
                            <option value="OP_CP">Casa con patio pequeño</option>
                            <option value="OP_CSP">Casa sin patio</option>
                            <option value="OP_DP">Departamento</option>
                         
                        </select>
                    </div>
                    <div class="form-label-group">
                        <select class="form-control" name="region" id="region" required name="region">
                        <option value="selected">Seleccione Region</option> 
                        </select>
                    </div>

                    <div class="form-label-group">
                        <select class="form-control" name="comuna" id="comuna" required name = "comuna">
                        <option value="selected">Seleccione Comuna</option> 
                        </select> 
                    </div>


                    
                    <hr>
      
                    <div class="form-label-group">
                      <input type="password" id="passwrd" class="form-control" placeholder="Password" required name="contrasenia">
                      <label id="textpsw" for="passwrd">Contraseña</label>
                    </div>
                    
                    <div class="form-label-group">
                      <input type="password" id="repswd" class="form-control" placeholder="Password" required name="contrasenia">
                      <label id="repasstext" for="inputConfirmPassword">Confirmar Contraseña</label>
                    </div>
      
                    <label id="error text-uppercase" class="label-text" ></label>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="templateerror()" type="submit">Register</button>
                    
                    <label class="label-text" >¿Tienes cuenta?</label>
                    <a href="login" role="text" aria-pressed="true">Iniciar sesión aquí</a>

                    <hr class="my-4">

                    <a class="btn btn-lg btn-facebook btn-block text-uppercase" href="{% provider_login_url "facebook" method="oauth2" %}"><i class="fab fa-facebook-f mr-2"></i>Registrarse con Facebook</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    

      <script src="{% static "/js/jquery-3.3.1.js" %}"></script>
      <script src="{% static "/js/popper.js" %}"></script>
      <script src="{% static "/js/bootstrap.js" %}"></script>
      <script src="{% static "/js/jquery.validate.js" %}"></script>
      <script src="{% static "/js/app.js" %}"></script>
</body>
</html>